@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');
* {
  box-sizing: border-box;
}

:root {
  /*======Typography====*/
  --family: 'Nunito Sans', sans-serif;
  --fontsize-sm: 14px;
  --fontsize-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 700;

  /*=======Other=======*/
  --radius: 0.5rem;
}

body[data-theme='dark'] {
  --color-text: hsl(0, 0%, 100%);
  --color-bg: hsl(207, 26%, 17%);
  --color-ui-base: hsl(209, 23%, 22%);
  --сolor-on-hover: hsl(0, 0%, 100%);

  --shadow: rgba(245, 245, 245, 0.2) 0 0 8px;
  --border: hsl(0, 0%, 100%);
}
body[data-theme='light'] {
  --color-text: hsl(200, 15%, 8%);
  --color-bg: hsl(0, 0%, 90%);
  --color-ui-base: hsl(0, 0%, 100%);
  --сolor-on-hover: hsl(200, 15%, 8%);

  --shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  --border: hsl(200, 15%, 8%);
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--color-text);
  font-weight: var(--fw-light);
  background-color: var(--color-bg);
}

button:hover {
  color: #000;
  background: #fff;
}
